@using surplus_auctioneer_models
@model surplus_auctioneer_webapp.Models.SearchViewModel
@{
    ViewBag.Title = "Search";
}

@helper Truncate(string input, int length)
{
    if (input != null)
    {    if(input.Length <= length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<text>...</text>
        }
    }
}

 

<script>
    $(document).ready(function () {
        my.Views.Search.init();
    })
</script>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form action="~/Home/Search" method="post" class="form-vertical">
    <div class="form-group">
        @Html.LabelFor(model => model.MinPrice)
        @Html.EditorFor(model => model.MinPrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MinPrice)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MaxPrice)
        @Html.EditorFor(model => model.MaxPrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MaxPrice)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Keywords)
        @Html.EditorFor(model => model.Keywords, new { @class = "form-control" })
    </div>
    <div class="form-group" >
        <input type="submit" class="btn btn-default" />
    </div>
</form>

@if (Model.AuctionItems.Any())
{
    <table id="searchResults" class="tablesorter">
        <thead>
        <tr>
            <th>Short Description</th>
            <th style="width: 100px">Current Price</th>
            <th style="width: 125px">Next Required<br/>Bid Amount</th>
            <th>Number of Bids</th>
        </tr>
        </thead>
        <tbody>
        @foreach (AuctionItem item in Model.AuctionItems)
        {
            <tr>
                <td><a target="_blank" href="@item.AuctionItemURL">@Truncate(string.IsNullOrEmpty(item.ShortDescription) ? item.FullDescription : item.ShortDescription, 100)</a></td>
                <td>@item.CurrentPrice.ToString("C")</td>
                <td>@item.NextBidRequired.ToString("C")</td>
                <td>@item.NumberOfBids</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h4>@Model.ErrorMessage</h4>
}